@import "_recipes";
@import "_variables";


header{
   @media all and (max-width: 1260px) {
    padding: 0 15px;
    box-sizing: border-box;
   }
}
.region-header-bottom {
  @include rgba-fallback(bg, $blue, 0.85);
}

.top {
  max-width: $maxWidth;
  margin: 0 auto;
  width: 100%;
  background-color: $white;
  font-size: 0;
  padding-top: 10px;

  >div {
    display: inline-block;
    width: 50%;
    vertical-align: middle;
    font-size: 12px;

    @media all and (max-width: 1260px) {
      width: 30%;
    }
    .site-logo{
      img{
        @media all and (max-width: 768px) {
          height:80px; width:auto;
        }
      }
    }
    &.region-header-top-two {
      text-align: right;

      @media all and (max-width: 1260px) {
        width: 70%;
      }
    }
  }
}

.page-node-type-cover {
  .region-header-bottom {
    position: absolute;
    z-index: 9;
    left: 0;
    right: 0;
  }
}
