@import "_recipes";
@import "_variables";


.node--type-galeria {
  .field--name-field-multimedia {
    max-width: $maxWidth;
    margin: 0 auto 50px;
    padding: 0 20px;
    box-sizing: border-box;
    font-size: 0;
    width: 100%;

    >.field__item {
      display: inline-block;
      font-size: 14px;
      width: 33.33%;
      text-align: center;
      padding: 20px;
      box-sizing: border-box;
	  @media all and (max-width: 640px) {
	  	width:50%;
	  }
	  @media all and (max-width: 480px) {
	  	width:100%;
	  }
      >.media--view-mode-gallery-colorbox {
        overflow: hidden;
        border: 2px solid $corporativoPrincipal;
        transition: all 0.5s ease-in-out;

        .field__item {
          line-height: 0;
        }

        img {
          transition: all 0.5s ease-in-out;
          width:100%;
          height: auto;
           @media all and (max-width: 1024px) {
           	width:100%;
           	height: auto;
           }
          &:hover {
            transform: scale(1.2);
          }
        }

        &:hover {
          border-color: $corporativoSecundario;
        }
      }
    }
  }

  .more-link {
    max-width: $maxWidth;
    margin: 0 auto;
    text-align: right;
    padding: 0 20px;
  }
}


.field--name-field-galeria {
  .field__label {
    @include title();
    font-size: 32px;
  }
}

.node--type-galeria.node--view-mode-related {
  position: relative;
  .field--name-field-multimedia{
  	padding:0;
  	.field__item{
  		padding:0;
  	}
  }
  .field--name-field-media-image {
  	a{
  		pointer-events: none;
  	}
  }
  .field--name-node-title {
    h2 {
      font-weight: normal;
      margin: 0;
    }

    a {
      color: $white;
      font-family: $semibold;
      text-decoration: none;
      position: absolute;
      background-color: $corporativoSecundario;
      bottom: 50px;
      left: 0;
      right: 0;
      height: 80px;
      display: inline-block !important;
      width: auto !important;
      text-align: center;
      padding: 15px;
      box-sizing: border-box;
      transition: all 0.3s ease-in-out;

      &:hover {
        height: 120px;
      }
    }
  }

  .field__item {
    display: block;
    width: 100%;
  }
}


.view-listado-galerias{
	.view-content{
		font-size: 	0;
		.views-row{
			font-size: 	16px;
			width:41%;
			margin: 0 9% 0 0;
			display: inline-block;
			vertical-align: top;
			@media all and (max-width: 768px) {
				width: 50%;
			    padding: 0 10px;
			    box-sizing: border-box;
			    margin: 0;
			}
			@media all and (max-width: 640px) {
				width: 100%;
			}
		}
	}
}