@import "_recipes";
@import "_variables";

header {
  .menu--main {
    max-width: $maxWidth;
    margin: 0 auto;
    width: 100%;
    .contextual{
       @media all and (max-width: 768px) {
        position: relative;
        height:43px;
        background-image: url('../images/menu.png');
        background-repeat: no-repeat;
        background-position: right 15px top;
        cursor: pointer;
       }
    }
    >ul {
      display: table;
      width: 100%;
      padding: 0;
      margin: 0;
      list-style: none;
       @media all and (max-width: 1260px) {
        padding: 0 15px;
        box-sizing: border-box;
       }
       @media all and (max-width: 768px) {
        position: absolute;
        display: block;
        padding:0;
        display: none;
        z-index: 9;
       }
      li {
        display: table-cell;
        vertical-align: middle;
        padding:0;
         @media all and (max-width: 768px) {
        display: block;
         @include rgba-fallback(bg, $blue, 0.85);
         text-align: right !important;
       }
        a,
        span {
          color: $white;
          text-transform: uppercase;
          padding: 24px 10px;
          font-size: 20px;
          font-family: $regular;
          display: block;
          text-decoration: none;
          transition: all 0.5s ease-in-out;
          @media all and (max-width: 768px) {
            padding:14px 10px;
          }
          // &.is-active,
          &:hover {
            color: $corporativoPrincipal;
            // color: $white;
          }
        }

        span {
          cursor: pointer;
        }

        &.menu-item--expanded {
          position: relative;

          >span {
            &:after {
              content: '+';
              padding-left: 5px;
            }
          }

          &.open {
            >span {
              &:after {
                content: '-';
                padding-left: 5px;
              }
            }
          }

          .menu {
            display: none;
            position: absolute;
            // display: block;
            z-index: 9;
            @include rgba-fallback(bg, $blue, 0.85);
            left: 0;
            right: 0;
            margin: 0;
            @media all and (max-width: 768px) {
              position: relative;
               @include rgba-fallback(bg, $blue, 1);
            }
            li {
              display: block;
              padding: 10px;

              a {
                text-align: left;
                padding: 0;
                text-transform: initial;
                color: $white;
                font-size: 18px;
                padding-left: 5px;
                border-left: 3px solid transparent;
                transition: all 0.5s ease-in-out;
                @media all and (max-width: 768px) {
                  text-align:right;
                }
                &:hover {
                  border-left: 3px solid white;
                  color: $white;
                }
              }
            }
          }
        }
      }

      >li:last-child {
        width: 10%;
        @media all and (max-width: 768px) {
        display: block;
        width:100%;
         @include rgba-fallback(bg, $blue, 0.85);
       }
        a {
          background-color: $corporativoPrincipal;
          padding: 10px 15px 10px 40px;
          border-radius: 10px;
          background-image: url('../images/red-de-contactos-sociales.png');
          background-position: center left 14px;
          background-repeat: no-repeat;
          transition: all 0.5s ease-in-out;
           @media all and (max-width: 768px) {
            background-color: transparent !important;
            background-image: none;
           }
          &:hover,
          &.is-active {
            color: $white;
            @include rgba-fallback(bg, $corporativoPrincipal, 0.6);
            padding:14px 15px 14px 40px;
          }
        }
      }
    }
  }

}
