@import "_recipes";
@import "_variables";


.slick-prev {
  width: 100px;
  height: 100px;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  left: 0;
  font-size: 0;
  background: none;
  border: none;
  outline: none;
  @media all and (max-width: 768px) {
    width:70px; height: 70px;
  }
  &:before {
    content: "\e903";
    @include icomoon(100px);
    color: $white;
    @media all and (max-width: 768px) {
      font-size: 70px;
    }
  }
}

.slick-next {
  width: 100px;
  height: 100px;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  position: absolute;
  font-size: 0;
  background: none;
  border: none;
  outline: none;
  @media all and (max-width: 768px) {
    width:70px; height: 70px;
  }
  &:before {
    content: "\e902";
    @include icomoon(100px);
    color: $white;
     @media all and (max-width: 768px) {
      font-size: 70px;
    }
  }
}

.slick__slide {
  position: relative;

  .text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    @media all and (max-width: 380px) {
      display: none;
    }
    >* {
      max-width: $maxWidth;
      width: 100%;
      margin: 0 auto;
      color: $white;
      font-size: 20px;
      @media all and (max-width: 1260px){
        padding: 0 90px;
        box-sizing: border-box;
      }
      &.field--name-field-titulo {
        font-family: $bold;
        font-size: 70px;
        margin-bottom: 15px;
        @media all and (max-width: 1024px) {
          font-size:  60px;
        }
        @media all and (max-width: 768px) {
          font-size:  50px;
        }
      }

      &.field--name-field-subtitulo {
        font-family: $regular;
        font-size: 40px;
        @media all and (max-width: 1024px) {
          font-size:  30px;
        }
        @media all and (max-width: 768px) {
          font-size:  22px;
        }
      }
    }
  }

  &:before {
    content: '';
    @include rgba-fallback(bg, $black, 0.4);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
}

.slick {
  position: relative;

  img {
    width: 100%;
    height: auto;
  }
}

.slick[id*='cabecera-full']{
  img{
    @media all and (max-width: 1024px) {
        height:400px;
        object-fit: cover;
    }
  }
}

.slick[id*='tablon-de-anuncios-full']{
  img{
    height:400px;
    object-fit: cover;
  }
}