@import "_recipes";
@import "_variables";

/* ************* TIPO DE CONTENIDO FIESTAS */

.field--name-field-fiestas {
  >.field__item {
    position: relative;
    line-height: 0;
    img{
      @media all and (max-width: 1024px) {
        width:100%;
        object-fit: cover;
      }
    }
    .field--name-field-categorias{
      @media all and (max-width: 480px) {
        display: none;
      }
    }
    .text {
      position: absolute;
      @include rgba-fallback(bg, $corporativoPrincipal, 0.9);
      bottom: 0;
      right: 0;
      top: 0;
      left: 65%;
      line-height: 1.3em;
      padding: 20px 25px;
      color: $white;
      font-family: $regular;
      font-size: 18px;
      @media all and (max-width: 1024px) {
      left:50%;
    }
    @media all and (max-width: 480px) {
      left:auto;
      position: relative;
      margin-bottom: 20px;
    }
      h2 {
        font-family: $semibold;
        text-transform: uppercase;
        font-size: 26px;
      }

      .field--name-field-categorias {
        .field__item {
          padding-bottom: 5px;
        }
      }

      .field--name-node-link {
        a {
          position: absolute;
          bottom: 0;
          right: 0;
          background-color: #1b1b1b;
          font-family: $bold;
          color: white;
          text-decoration: none;
          font-size: 35px;
          padding: 10px 13px;
          transition:all 0.5s ease-in-out;
          &:hover{
          	background:$corporativoSecundario;
          }
        }
      }
    }
  }

  >.field__item:nth-child(2) {
    .text {
      @include rgba-fallback(bg, #3b9bbe, 0.9);
    }
  }

  >.field__item:last-child {
    .text {
      @include rgba-fallback(bg, #891e1e, 0.9);
    }
  }
}

.node--type-fiestas{
  &.node--view-mode-full{
    .breadcrumb{padding-left: 0;}
    > .group-left {
      > div.group-left{
        position: relative;
        &:before{
          content:'';
          background-image: url('../images/fuegos.gif');
          background-repeat: no-repeat;
          width: 500px;
          height: 500px;
          position: absolute;
          background-size: 400px;
          opacity: 0.4;
        }
      }
      iframe{
        width:100%;
        height:420px;
      }
    }
    .field--name-field-galeria{
      max-width: $maxWidth;
      margin: 0 auto;
      > .field__items{
        font-size: 0;
        > .field__item{
          font-size: 14px;
          display: inline-block;
          vertical-align: top;
          width: 33.33%;
          position: relative;
          .field--name-node-title{
            h2{
              font-weight: normal;
              margin:0;
            }
            a{
              color: $white;
              font-family: $semibold;
              text-decoration: none;
              position: absolute;
              background-color: $corporativoSecundario;
              bottom: 70px;
              left: 40px;
              right: 40px;
              height: 80px;
              display: inline-block !important;
              width: auto !important;
              text-align: center;
              padding:15px;
              box-sizing: border-box;
              transition: all 0.3s ease-in-out;
              &:hover{
                height:120px;
              }
            }
          }
          .field__item{
            display: block;
            width:100%;
          }
        }
      }
    }
    .field--name-field-post-relacionados{
      background-color: $corporativoPrincipal;
      padding:40px;
      margin-bottom: -30px;
      .field__label{
        @include title();
        color: $white;
        text-align: center;
        max-width: $maxWidth;
        margin:0 auto;
        &:after{
          background-color: $corporativoSecundario;
        }
      }
      > .field__items{
        max-width: $maxWidth;
        margin:0 auto;
        font-size: 0;
        .field__item{
          display: inline-block;
          vertical-align: top;
          width:25%;
          font-size: 14px;
          padding: 0 15px;
          .field__item{
            display: block;
            width:100%;
            padding:0;
          }
          .field--name-field-image{
            a{
              max-width:260px;
              max-height: 260px;
              overflow: hidden;
              img{
                border-radius: 100%;
                max-width: 260px;
                margin:0 auto;
                transition: all 0.5s ease-in-out;
              }
              &:hover{
                img{
                  transform:scale(0.9);
                }
              }
            }
          }
          .field--name-node-title{
            h2{
              margin:0;
              padding:20px;
              font-weight: normal;
              text-align: center;
              a{
                color: $white;
                text-decoration: none;
                font-family: $titular;
                font-size: 24px;
                transition: all 0.5s ease-in-out;
                &:hover{
                  color: $corporativoSecundario;
                }
              }
            }
          }
        }
      }
    }
  }
}

.node--type-fiestas{
  &.node--view-mode-related{
    position: relative;
    margin-bottom: 30px;
    img{
      width:100%;
    }
    .field--name-node-title{
      cursor:pointer;
      &:before{
        content:'';
        position: absolute;
        top:0;
        bottom: 4px;
        left:0;
        right: 0;
        @include rgba-fallback(bg, $black, 0.4);
        transition: all 0.5s ease-in-out;
      }
      h2{
        margin:0;
        font-weight: normal;
        a{
          position: absolute;
          font-family: $titular;
          color:$white;
          top:50%;
          left:50%;
          transform:translateX(-50%)translateY(-50%);
          text-decoration: none;
          font-size: 52px;
        }
      }
      &:hover{
        &:before{
          @include rgba-fallback(bg, $black, 1);
        }
      }
    }
  }
}
