@import "bourbon/bourbon";


/* ***************************************************** VARIABLES */

$corporativoPrincipal: #8c7aae;
$corporativoSecundario: #2c2c2c;


$white: #FFFFFF;
$black: #000000;
$blue: #152033;
$blue_footer: #16445B;
$blue_light: #8abcdd;
$blue_dark: #5a919c;
$grey: #4a5e69;
$grey_medium: #DFDFDF;
$grey_light: #d2d2d2;
$orange: #313131;
$orange_light: #F5A63F;
$orange_dark: #D77615;
$red: #CD2D23;

$green: #00B22D;
$yellow: #D9D900;

$text: #2d2d2d;
$link: $blue;
$link_hover: $blue_light;
$titles: $blue_dark;

$grey_input: #999999;
$grey_border_input: #cbcbcb;
$red_input_hover: #990000;
$text_input: $grey_input;

$maxWidth: 1060px;

//* ***************************************** FONTS / ICONS */

  @include font-face('barlow-bold', '../fonts/barlow-bold/barlow-bold', $file-formats: tff eot woff);
  @include font-face('barlow-light', '../fonts/barlow-light/barlow-light', $file-formats: eot woff2 woff);
  @include font-face('barlow-semibold', '../fonts/barlow-semibold/barlow-semibold', $file-formats: eot woff2 woff);
  @include font-face('barlow-regular', '../fonts/barlow-regular/barlow-regular', $file-formats: eot woff2 woff);
  @include font-face('barlow-italic', '../fonts/barlow-italic/barlow-italic', $file-formats: eot woff2 woff);
  @include font-face('blackfat', '../fonts/blackfat/blackfat', $file-formats: eot woff2 woff);
  @include font-face('icomoon', '../fonts/icomoon/icomoon', $file-formats: eot woff);
 
  $bold: 'barlow-bold', Arial, sans-serif;
  $light: 'barlow-light', Arial, sans-serif;
  $semibold: 'barlow-semibold', Arial, sans-serif;
  $regular: 'barlow-regular', Arial, sans-serif;
  $light: 'barlow-light', Arial, sans-serif;
  $titular: 'blackfat', Arial, sans-serif;
  $icomoon: 'icomoon', Arial, sans-serif;